<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#>
<head>
    <meta charset="utf-8">
    <title>{% if is_home %}{{ site.author }}{% elif is_post %}{{ post.title }}{% elif is_link %}{{ link.title }}{% elif is_tag %}{{ tag }}{% elif is_page %}{{ page.title }}{% endif %} | {{ site.name }}</title>

    {{ header_meta }}

<!-- pz include -->
    <link rel="shortcut icon" href="https://dl.dropbox.com/s/3hhhks91h4gxcaz/100x100falloutav-tu.gif">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.atom_url }}">
    <link rel="stylesheet" href="http://sh.zaikin.su/hl/styles/vs.css">	
    <script src="http://sh.zaikin.su/hl/highlight.pack.js"></script>
<!-- pz include -->

    <link href="http://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link href="{{ static('themes/binary/css/binary.css') }}" rel="stylesheet" />
<!--    <link href="{{ static('themes/_assets/mediaelement/mediaelementplayer.css') }}" rel="stylesheet" /> 
    <style>a { background: transparent; margin: 0.5em;}</style> -->
    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="site-header">
                    <div class="header-top">
                        <h1 class="site-title">
                            <a href="/">{{ site.name }}</a>
                        </h1>
                    </div>
                    <nav class="site-nav">
                        <ul class="nav-menu">
                            <li><a href="/">Home</a></li>
                            {% if pages %}
                            {% for page in pages %}
                            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="site-content">
                {% if is_home or is_tag %}
                    {% if is_tag %}
                    <h2 class="tag-header">Showing all posts tagged {{ tag }}:</h2>
                    {% endif %}
                    {% if posts %}
                    <section itemscope itemtype="http://schema.org/Blog" class="blog-feed">
                    {% for post in posts %}
                        <article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="blog-post feed-item">
                            <header class="post-header">
                                <h2 class="post-title">
                                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                                </h2>
                                <div class="post-metadata">
                                    <div class="left">
                                        <p class="post-byline">Published by {{ site.author }}</p>
                                        <p><time datetime="{{ post.created_at }}" class="post-date">{{ post.created_at|date_format }}</time></p>
                                    </div>
                                    <div class="right">
                                        <p class="post-comment-count">
                                            <a href="{{ post.permalink }}{% if site.disqus %}#disqus_thread{% endif %}"
                                                class='dsq-comment-count comment-link commentslink'></a>
                                        </p>
                                        <p><a href="{{ post.permalink }}" class="post-permalink">Permalink</a></p>
                                    </div>
                                </div>
                            </header>
                            <div class="post-body">
                                {% if post.content|striptags|wordcount > 0 %}
                                <div class="post-content">
                                    {{ post.content }}
                                    {% if post.type == 'link' or post.type == 'webclip' %}
                                    <span class="post-link-url"><i class="icon-share"></i> <a href="{{ post.url }}" target="_blank">{{ post.url|truncate(20,True) }}</a></span>
                                    
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if post.tags %}
                                <div class="post-tags">
                                    {{- post.tags|format_tags(humanize=True) -}}
                                </div>
                                {% endif %}
                            </div>
                        </article>
                    {% endfor %}
                    </section>
                    {% if site.disqus %}
                    <script type="text/javascript">
                    var disqus_shortname = '{{ site.disqus }}';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                    </script>
                    {% endif %}
                    {% else %}
                    <div class="blog-feed">
                        <h2 class="title"><em>No posts yet :(</em></h2>
                    </div>
                    {% endif %}
                    {% if not is_tag and posts %}
                    <div class="blog-pagination">
                        {% if pagination.prev %}<a href="{{ pagination.prev }}" title="Newer Posts" class="pagination-newer">&larr; Newer Posts</a>{% endif %}
                        {% if pagination.next %}<a href="{{ pagination.next }}" title="Previous Posts" class="pagination-older">Previous Posts &rarr;</a>{% endif %}
                    </div>
                    {% endif %}
                {% elif is_post %}

                    <article itemscope itemtype="http://schema.org/BlogPosting" class="blog-post post-single">
                        <section class="post-body">
                            <header class="post-header">
                                <div class="header-top">
                                    <h1 class="post-title">{{ post.title }}</h1>
                                </div>
                                <div class="post-metadata">
                                    <p class="post-byline left">Published by {{ site.author }}</p>
                                    <p class="right"><time datetime="{{ post.created_at }}" class="post-date">{{ post.created_at|date_format }}</time></p>
                                </div>
                            </header>
                            <div class="post-content">
                                {{ post.content }}
                            </div>
                            <div align=right><a href="http://orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="https://dl.dropboxusercontent.com/s/gpkyiyzffx50x5o/orphus.gif" border="0" width="257" height="48" /></a></div>
                            {{ theme.social.bar }}
                            {% if post.tags %}
                            <div class="post-tags">
                                {{- post.tags|format_tags(humanize=True) -}}
                            </div>
                            {% endif %}
                            
                        </section>
                        {% if site.disqus %}
                        <section class="comments">
                            <hr class="large" />
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                            var disqus_shortname = '{{ site.disqus }}';
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                            </script>
                            <noscript>
                                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                            </noscript>
                            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                        </section>
                        {% endif %}
                    </article>

                {% elif is_link %}

                    <article itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">
                        <section class="post-body">
                            <header class="post-header">
                                <div class="header-top">
                                    <h1 class="post-title">{{ link.title }}</h1>
                                </div>
                                <div class="post-metadata">
                                    <p class="post-byline left">Published by {{ site.author }}</p>
                                    <p class="right"><time datetime="{{ link.created_at }}" class="post-date">{{ link.created_at|date_format }}</time></p>
                                </div>
                            </header>
                            {% if link.content|striptags|wordcount > 0 %}
                            <div class="post-content">
                                {{ link.content }}
                            </div>
                            {% endif %}
                            
                            <p><i class="icon-share"></i> <a href="{{ link.url }}">{{ link.url|truncate(20,True) }}</a></p>
                            {{ theme.social.bar }}
                            
                            {% if link.tags %}
                            <div class="post-tags">
                                {{- link.tags|format_tags(humanize=True) -}}
                            </div>
                            {% endif %}
                        </section>
                        {% if site.disqus %}
                        <section class="comments">
                            <hr class="large" />
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                            var disqus_shortname = '{{ site.disqus }}';
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                            </script>
                            <noscript>
                                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                            </noscript>
                            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                        </section>
                        {% endif %}
                    </article>

                {% elif is_page %}

                    <div class="blog-page">
                        <h1 class="page-title">{{ page.title }}</h1>
                        <div class="page-content">
                            {{ page.content }}
                        </div>
                    </div>

                {% endif %}
                </div>
                <div class="site-footer">
                    <p>All rights Reserved &copy; <a href="/">{{ site.name }}</a>.</p>
                    <br />
                    <p>Theme inspired by <a href="http://www.fabthemes.com/binary/" target="_blank">Fabthemes</a> | Powered by <a href="http://postach.io/">Postach.io</a></p>
                </div>
            </div>
            <div class="four columns">
                <div class="sidebar">
                    <div class="widget widget-about">
                        <h2 class="widget-title"><a href="/">{{ site.author }}</a></h2>
                        <div class="widget-content">
                            <div class="avatar">
                                <img src="{{ site.avatar }}" alt="{{ site.author }}" />
                            </div>
                            <p>{{ site.bio }}</p>
                            <ul class="social-links">
                                {% if site.twitter %}
                                <li>
                                    <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if site.facebook %}
                                <li>
                                    <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if site.googleplus %}
                                <li>
                                    <a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">
                                        <i class="icon-google-plus"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if site.linkedin %}
                                <li>
                                    <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                                        <i class="icon-rss"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-latestposts">
                        <h2 class="widget-title">Latest Posts</h2>
                        <div class="widget-content popular-posts">
                            {% if posts_recent %}
                            <ul>
                            {% for post in posts_recent %}
                            {% if loop.index <= 5 and loop.index > 0 %}
                                <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="widget widget-tagcloud">
                        <h2 class="widget-title">Tag Cloud</h2>
                        <div class="widget-content tag-cloud">
                            {% if site.tags %}
                            <ul>
                                {% for tag in site.tags %}
                                <li><a href="/tag/{{ tag.name }}">#{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="widget">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Квадрат в блог -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-5317018884999805"
     data-ad-slot="5607376534"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ static('themes/_assets/js/postachio-pdf.min.js') }}"></script>
    <script src="{{ static('themes/_assets/mediaelement/mediaelement-and-player.min.js') }}"></script>
    <script>
    $(function() {
        $('audio').mediaelementplayer();
 	    hljs.initHighlightingOnLoad();
    });
    
    //$("i~a")[0].innerText = $("i~a")[0].hostname;
    </script>
    <script type="text/javascript" src="https://dl.dropbox.com/s/cwnj74jzz0b42fn/orphus.js"></script>
</body>
</html>